body{
        font-family: 'Manrope', sans-serif;
        background-color: $colorSecundario;
}

.fondoGlosario{
    background-color: $colorSecundario;
    background-size: cover;
}

// Header de las paginas

.glosarioText{
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontal*/
    justify-content: center;
    height: 570px;
    // margin-left: 60px;
    h1{
        color: $texto;
        font-size: 60px;
        margin-bottom: 20px;
        }    
    p{
        width: 700px;
        text-align: center;
        a{
            color: $texto;
            font-size: 20px;
            font-weight:  light;
            text-decoration: none;
            // background: linear-gradient(90deg, #ffd97d, #ff9b85, #bdb2ff, #60d394, #ee6055);
            // background-clip: text;
            // -webkit-background-clip: text;
            // transition: all 0.2s ease-in-out;
                &:hover{
                    // color: transparent;
                    color: $colorTerciario ;
                    }
        }
    }
}

// Texto negro

 .introText{
    background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #F4DBF3 63.64%, #F2D9EA 72.73%, #F0D8E2 81.82%, #F2D9EA 90.91%, #EED7DC 100%);
    background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #ecdbf4 63.64%, #ead9f2 72.73%, #e9d8f0 81.82%, #ead9f2 90.91%, #e8ddf3 100%);
    color: $texto;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.219);
    p{
        width: 50%;
        text-align: left;
        width: 500px;
        color: #575757;
    }
 }


//  texto de las paginas

.textoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    h2{
        font-size: 60px;
        margin-top: 100px;
        margin-bottom: 50px;
        color: $texto;
    }
    p{
        width: 50%;
        text-align: left;
        width: 600px;
        color: $texto;
    }
    ul{
        width: 50%;
        text-align: left;
        width: 600px;
        color: $texto;
        list-style-type: '- ';
        img{
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        li{
            a{
                text-decoration: none;
                color: $texto;
                &:hover{
                    color: $colorTerciario;
                    }
        }
        }
    }
}

//  glosario

.tituloGlosario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    h2{
        font-size: 60px;
        margin-top: 100px;
        margin-bottom: 50px;
        color: $texto;
    }
}

/*Tabla*/
.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


table {
	width: 56%;
	border-collapse: collapse;
	overflow: hidden;
    font-size: 18px;
}

th,
td {
	padding: 15px;
	color: $texto;
    text-align: center;
}

th {
	text-align: center;
}

thead {
	th {
		border-bottom: 3px solid $texto;
	}
}

tbody {
	tr {
		border-bottom: 2px dotted $texto;
	}
}


/*Sticky BTN*/
.stickyBtn{
    position: fixed;
    bottom: 30px;
    right:20px;
    z-index: 1000;
    background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #F4DBF3 63.64%, #F2D9EA 72.73%, #F0D8E2 81.82%, #EFD7DE 90.91%, #EED7DC 100%);
    border-radius: 50%;
    a{
    svg{
        width:60px;
        height: 60px;
        color: $texto; 
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
        }
    }
}

/*MOBILE RESPONSIVE FRANJA NEGRA*/
@media screen and (max-width: 500px) {

    // header de las paginas
    .glosarioText{
        display: flex;
        flex-direction: column;
        align-items: left; /*horizontal*/
        justify-content: center;
        height: 570px;
        margin-left: 15px;
        h1{
            color: $texto;
            font-size: 25px;
            margin-bottom: 10px;
            }    
        p{
            width: 229px;
            a{
                color: $texto;
                font-size: 15px;
                font-style: italic;
            }
        }
    }
    
    // Texto negro
    
     .introText{
        background-color: $texto;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 10px;
            width: 50%;
            text-align: left;
            width: 229px;
            color: #575757;
        }
     }
    
    
    //  texto de las paginas
    
    .textoInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        h2{
            font-size: 30px;
            margin-top: 100px;
            margin-bottom: 50px;
            color: $texto;
            text-align: center;
        }
        p{
            text-align: left;
            width: 229px;
            color: $texto;
        }
        ul{
            width: 50%;
            text-align: left;
            width: 229px;
            color: $texto;
            img{
                height: 100px;
            }
        }
    }
    
    //  glosario
    
    .tituloGlosario{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        h2{
            font-size: 25px;
            margin-top: 100px;
            margin-bottom: 50px;
            color: $texto;
            margin-left: 15px;
            text-align: center;
        }
    }

    /*Tabla*/
.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


table {
	width: 45%;
	border-collapse: collapse;
	overflow: hidden;
    font-size: 10px;
}

th,
td {
	padding: 10px;
	color: $texto;
    font-weight: bold;
    text-align: center;
    
}

th {
	text-align: center;
    
}

thead {
	th {
		border-bottom: 3px solid $texto;
        
	}
}

tbody {
	tr {
		border-bottom: 2px dotted $texto;
        
	}
}
    

}