body{
    font-family: 'Manrope', sans-serif;
    background-color: $colorSecundario;
}

.fondoGlosario{
    background-color: $colorPrincipal;
    background-size: cover;
}

// Header de las paginas

.glosarioText{
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontal*/
    justify-content: center;
    height: 570px;
    h1{
        color: $texto;
        font-size: 55px;
        margin-bottom: 30px;
        }    
    p{
        width: 700px;
        text-align: center;
        a{
            color: $texto;
            font-size: 18px;
            font-weight:  light;
            text-decoration: none;
            // background: linear-gradient(90deg, #ffd97d, #ff9b85, #bdb2ff, #60d394, #ee6055);
            // background-clip: text;
            // -webkit-background-clip: text;
            // transition: all 0.2s ease-in-out;
                &:hover{
                    // color: transparent;
                    color: $colorTerciario ;
                    }
        }
    }
    .recursos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center; /*horizontal*/
        justify-content: center;
        width: 100%;
        ul{
            width: 400px;
            text-align: left; 
            list-style-type: '- ';
            .tituloDiccionarios{
                list-style-type: '📘';
            }
            .tituloSonidos{
                list-style-type: '🎵';
            }
            .tituloOtros{
                list-style-type: '🎬';
            }
            li{
                a{
                    text-decoration: none;
                    color: $texto;
                    &:hover{
                        color: $colorTerciario;
                        }
                }
            }
        }
    }
}

// Texto color

 .introText{
    background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #ecdbf4 63.64%, #ead9f2 72.73%, #e9d8f0 81.82%, #ead9f2 90.91%, #e8ddf3 100%);
    color: $texto;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.219);
    img{
        padding-bottom: 40px;
        width: 60px;
    }
    p{
        text-align: justify;
        width: 500px;
        color: #575757;
    }
 }

//  texto de las paginas

.textoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    h2{
        font-size: 55px;
        margin-top: 100px;
        margin-bottom: 50px;
        color: $texto;
    }
    p{
        width: 50%;
        text-align: justify;
        width: 700px;
        color: $texto;
    }
    ul{
        width: 50%;
        text-align: justify;
        width: 700px;
        color: $texto;
        list-style-type: '- ';
        img{
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        li{
            a{
                text-decoration: none;
                color: $texto;
                &:hover{
                    color: $colorTerciario;
                    }
            }
        }
        p{
            text-align: center;
        }
    }
}

// Tablas

.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

table {
	width: 56%;
	border-collapse: collapse;
	overflow: hidden;
    font-size: 18px;
}

th,
td {
	padding: 15px;
	color: $texto;
    text-align: center;
}

th {
	text-align: center;
}

thead {
	th {
		border-bottom: 2px solid $texto;
	}
}

tbody {
	tr {
		border-bottom: 1px dashed $texto;
	}
}


// Sticky BTN
.stickyBtn{
    position: fixed;
    bottom: 30px;
    right:20px;
    z-index: 1000;
    background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #ecdbf4 63.64%, #ead9f2 72.73%, #e9d8f0 81.82%, #ead9f2 90.91%, #e8ddf3 100%);
    border-radius: 50%;
    a{
    svg{
        width:60px;
        height: 60px;
        color: $texto; 
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
        }
    }
}

// MOBILE RESPONSIVE FRANJA NEGRA

@media screen and (max-width: 500px) {

    // header de las paginas

    .glosarioText{
        display: flex;
        flex-direction: column;
        align-items: left; /*horizontal*/
        justify-content: center;
        height: 570px;
        width: 100%;
        h1{
            color: $texto;
            font-size: 25px;
            margin-bottom: 10px;
            }    
        p{
            width: 90%;
            a{
                color: $texto;
                font-size: 14px;
                font-style: italic;
            }
        }
    }
    
    // Texto color
    
     .introText{
        background-color: $texto;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            padding-bottom: 20px;
            width: 40px;
        }
        p{
            font-size: 13px;
            width: 80%;
            text-align: justify;
            color: #575757;
        }
     }
    
    //  texto de las pag
    
    .textoInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        h2{
            font-size: 30px;
            margin-top: 100px;
            margin-bottom: 50px;
            color: $texto;
            text-align: center;
            width: 90%;
        }
        p{
            text-align: justify;
            width: 90%;
            color: $texto;
        }
        ul{
            width: 90%;
            text-align: left;
            color: $texto;
            img{
                height: 100px;
            }
        }
    }
    
    //  glosario
    
    .tituloGlosario{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        h2{
            font-size: 25px;
            margin-top: 100px;
            margin-bottom: 50px;
            color: $texto;
            margin-left: 15px;
            text-align: center;
        }
    }

    // Tablas
.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

table {
	width: 45%;
	border-collapse: collapse;
	overflow: hidden;
    font-size: 10px;
}

th,
td {
	padding: 10px;
	color: $texto;
    font-weight: bold;
    text-align: center;
    
}

.recursos{
    width: 50%;
    ul{
        font-size: 10px;
        width: 50%;
    }
}
}