@import "variables";
@import "glosarios";

.fondoIndex{
    font-family: 'Manrope', sans-serif;
    background-color: $colorSecundario;
    // background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #F4DBF3 63.64%, #F2D9EA 72.73%, #F0D8E2 81.82%, #EFD7DE 90.91%, #EED7DC 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f6f9;
    // background: linear-gradient(90deg, #E9F7FD 0%, #E8F6FD 9.09%, #E7F1FC 18.18%, #E5EAFB 27.27%, #E3E2FA 36.36%, #E9DFF8 45.45%, #EFDDF6 54.55%, #F4DBF3 63.64%, #F2D9EA 72.73%, #F0D8E2 81.82%, #EFD7DE 90.91%, #EED7DC 100%);
    // box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.418);
}

.navbar-brand{
    margin-left: 70px;
    color: $colorTerciario;
    background: $texto;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: transparent;
        }
}

.nav-link{
    margin-right: 70px;
    color: $texto;
}

.nav-link-inicio{
    &:hover{
        background: -webkit-linear-gradient(45deg, $colorTerciario, $colorTerciario, $colorTerciario, $colorTerciario, $colorTerciario);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
}
.nav-link-glosario{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-consejos{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-software{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-recursos{
    &:hover{
        color: $colorTerciario;
        }
}

.indexText{
    display: flex;
    flex-direction: column;
    align-items: left; /*horizontal*/
    height: 560px;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 30px;
    h1{
        
        font-size: 80px;
        text-align: left;
        color: $texto;
        }
    }
    

    .subtituloIndex{
        color: $colorTerciario;
        font-size: 27px; 
        font-weight: bold;       
        /*subrayado*/
        // span{
        //     background-image: linear-gradient(90deg, #ffd97d, #ff9b85, #bdb2ff, #60d394, #ee6055);
        //     background-repeat: no-repeat;
        //     background-size: 100% 0.1em;
        //     background-position: 0 100%;
        //     transition: background-size 0.25s ease-in;
        //         &:hover {
        //         background-size: 100% 88% !important;
        //         }
        //     }  
    }

    
    // .fancy-undeline {
    //     background-image: linear-gradient(120deg, #cc2b5e,#753a88 100%);
    //     background-repeat: no-repeat;
    //     background-size: 100% 1em;
    //     background-position: 0 80%;
    //     transition: background-size 0.25s ease-in;
    //   }

    //   .fancy-undeline:hover {
    //     background-size: 100% 88% !important;
    //   }
    
    
    .parrafoIndex{
        text-align: left;
        width: 500px;
        color: #7a7a7a;
    }

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    img{
        margin-right: 20px;
        width: 33px;
        height: auto;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
    }

}



/*MOBILE RESPONSIVE INDEX*/
@media screen and (max-width: 500px) {

.navbar-brand{
    margin-left: 0px;
}

.indexText{
    display: flex;
    flex-direction: column;
    align-items: left; /*horizontal*/
    height: 600px;
    justify-content: center;
    margin-left: 15px;
    h1{
        font-size: 35px;
        text-align: left;
        color: $texto;
        font-weight: bolder;
        span{
            background-image: linear-gradient(90deg, #ffd97d, #ff9b85, #bdb2ff, #60d394, #ee6055);
            background-repeat: no-repeat;
            background-size: 100% 0.1em;
            background-position: 0 100%;
            transition: background-size 0.25s ease-in;
                &:hover {
                background-size: 100% 88% !important;
                }
            }
        }
    }
    

    .subtituloIndex{
        font-size: 25px;
        font-style: italic;
        font-weight: bolder;
    }
    .parrafoIndex{
        font-size: 15px;
        text-align: left;
        flex-wrap: wrap;
        width: 229px;
    }

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    img{
        margin-right: 10px;
        width: 30px;
        height: auto;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
    }

}
}