@import "variables";
@import "glosarios";

.fondoIndex{
    font-family: 'Manrope', sans-serif;
    background-color: $colorSecundario;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorPrincipal;
    // box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.418);
    img{
        height: 30px;
    }
}

.navbar-brand{
    margin-left: 70px;
    color: $colorTerciario;
    background: -webkit-linear-gradient(50deg, #85a5c7 50%, #9b51e0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: transparent;
        }
        img{
            padding-right: 10px;
            padding-bottom: 2px;
        }
}

.nav-link{
    margin-right: 70px;
    color: $texto;
}

.nav-link-inicio{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-glosario{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-consejos{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-software{
    &:hover{
        color: $colorTerciario;
        }
}
.nav-link-recursos{
    &:hover{
        color: $colorTerciario;
        }
}

.indexText{
    display: flex;
    flex-direction: column;
    align-items: left; /*horizontal*/
    height: 560px;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 30px;
    h1{
        
        font-size: 80px;
        text-align: left;
        color: $texto;
        }
    }
    

    .subtituloIndex{
        color: $colorTerciario;
        font-size: 27px; 
        font-weight: bold;       
    }
    
    
    .parrafoIndex{
        text-align: left;
        width: 500px;
        color: #7a7a7a;
    }

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    img{
        margin-right: 20px;
        width: 33px;
        height: auto;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
    }

}



/*MOBILE RESPONSIVE INDEX*/
@media screen and (max-width: 500px) {

.navbar-brand{
    margin-left: 0px;
}

.indexText{
    display: flex;
    flex-direction: column;
    align-items: left; /*horizontal*/
    height: 600px;
    justify-content: center;
    margin-left: 15px;
    h1{
        font-size: 35px;
        text-align: left;
        color: $texto;
        font-weight: bolder;
        }
    }
    

    .subtituloIndex{
        font-size: 25px;
        font-style: italic;
        font-weight: bolder;
    }
    .parrafoIndex{
        font-size: 15px;
        text-align: left;
        flex-wrap: wrap;
        width: 229px;
    }

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    img{
        margin-right: 10px;
        width: 30px;
        height: auto;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(0.8);
            }
    }

}
}